<h1 {{action 'toggleBody'}}>{{title}}</h1>
<button {{action 'sayHello' on='mouseEnter'}}>Say Hello</button>

{{#if isShowingBody}}
  <p>{{body}}</p>
{{/if}}

<p>
  <strong>Authors: </strong>
  {{#each authors as |author|}}
    {{author}},
  {{/each}}
</p>

<h4>Votes</h4>
<ul>
  {{#each votes as |vote|}}
    <li><strong>{{vote.voter}}</strong> - {{vote.choice}}</li>
  {{/each}}
</ul>

<hr>
<h4>Add a vote</h4>
<form {{action 'submitAction' on='submit'}}>
  <p>
    Name: {{input value=name}}
  </p>

  <p>
    Choice: {{textarea value=choice}}
  </p>

  <button type="submit" name="button">Submit</button>
</form>
